header {
    width: 100%;
    height: 8.8rem;

    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.24);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu {
    display: none;
}

header nav {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

header ul {
    display: flex;
    gap: 4.0rem;

}

header ul li a {
    font-size: 1.6rem;
    letter-spacing: -0.48px;
    color: var(--gray-100);
    transition: opacity .3s ease;
}

header ul li a:hover {
    opacity: 0.7;
}

/* ======= SECTION ========= */

.s-hero {
    position: relative;
    width: 100%;
    padding-top: 11.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.s-hero::after {
    content: "";
    width: 100%;
    height: 200px;
    background-color: var(--pink-10);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.s-hero .text {
    width: 100%;
    max-width: 71.9rem;
    position: relative;

    text-align: center;
    margin: 0 auto;
    margin-bottom: 6.4rem;
}

.s-hero .text h1 {
    font-weight: 600;
    letter-spacing: -1.68px;
    position: relative;
}

.s-hero .text h1::before {
    content: '';
    max-width: 59.9rem;
    width: 100%;
    height: 2.2rem;
    background: url(../img/line-titile.svg) no-repeat left center;
    position: absolute;
    left: 3.9rem;
    bottom: -5px;
    z-index: -1;
    animation: drawLine 1s ease-in forwards;
}

@keyframes drawLine {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.s-hero .text p {
    max-width: 55.6rem;
    width: 100%;

    margin: 0 auto;
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;

    letter-spacing: -0.54px;
    color: var(--gray-300);
}

.s-hero .text .arrow {
    position: absolute;
    left: 5.5rem;
    bottom: 1.7rem;
    animation: floating 2s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(0px);
    }
}

.s-hero .ilustra {
    padding: 0 1.5rem;
}

.ilustra-mobile {
    display: none;
}

/*=============== section digital =============*/

.s-digital {
    padding-top: 12.8rem;
}

.s-digital h3 {
    text-align: center;
    max-width: 53.5rem;
    width: 100%;
    margin: 0 auto;
    height: 96;
    margin-bottom: 6.4rem;
}

.s-digital ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12.8rem;
    border-bottom: 1px solid var(--gray-800);
}

/*=========ART FRONT=========*/

.s-art-front {
    padding: 12.8rem 0;
}

.s-art-front .tittle-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 6.4rem;
}

.s-art-front .tittle-text h3 {
    letter-spacing: -1.2px;
    font-weight: 600;
}

.s-art-front .tittle-text p {
    color: var(--gray-600);
    letter-spacing: -0.54px;
}

.s-art-front .tittle-text .left {
    max-width: 53.9rem;
    margin-top: 1.6rem;
}

.s-art-front .tittle-text .left p {
    max-width: 45.2rem;
}

.s-art-front .tittle-text .right {
    max-width: 42.9rem;
}

.s-art-front .all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
}

.s-art-front .all .card-post:first-child {
    grid-column: span 2;
    /* Ocupa as duas primeiras colunas apartir de onde ele esta o span faz isso*/
}

/*============SECTION NEWSLETTER*/

.s-newslatter {
    background-color: var(--pink-10);
    padding: 8.9rem 0;
}

.s-newslatter .container {
    text-align: center;
}

.s-newslatter h2 {
    max-width: 64.6rem;
    padding-bottom: 1.6rem;
    margin: 0 auto;

    line-height: 120%;
    letter-spacing: -1.44px;
}

.s-newslatter p {
    max-width: 68.7rem;
    margin: 0 auto;

    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 2.4rem;
    font-style: normal;
    font-weight: 400;

}

/*=========FOOTER=============*/

footer {
    padding: 4.8rem;
}

footer .main-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    border-bottom: 1px solid rgba(255, 255, 255, 0.24);

    padding-bottom: 7.6rem;
    margin-bottom: 2.4rem;
}

footer .main-area .left {
    max-width: 27.9rem;
}

footer .main-area .left p {
    margin-top: 2.4rem;
    color: var(--gray-600);
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: -0.48px;
}

footer .main-area .right {
    flex-grow: 1;
    max-width: 79.2rem;
    display: flex;
    justify-content: space-between;
}

footer .main-area .right .item-nav h6 {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.48px;

    margin-bottom: 3.2rem;
}

footer .main-area .right .item-nav ul li:not(:last-child) {
    margin-bottom: 3.2rem;
}

footer .main-area .right .item-nav ul li a {
    color: var(--gray-600);
    font-size: 1.6rem;
    letter-spacing: -0.48px;
    transition: color .3s ease;

    display: flex;
    align-items: center;
    gap: 1.8rem;
}

footer .main-area .right .item-nav ul li a:hover {
    color: var(--gray-100);
}

footer .copy {
    color: var(--gray-600);
    letter-spacing: -0.48px;
}

footer .copy strong {
    font-weight: 500;
}

/* Monitores pequenos */
@media (max-width: 1200px) {
    .s-digital {
        padding-top: 6.8rem;
    }

    .s-digital ul {
        gap: 3.2rem;
        padding-bottom: 6.8rem;
    }

    .item-digital .info h6 {
        font-size: 2rem;
    }

    .item-digital .info p {
        font-size: 1.6rem;
    }

    .s-art-front .all {
        gap: 1.6rem;
        padding: 6rem 0;
    }

    .s-art-front .all .card-post:first-child,
    .s-art-front .all .card-post:nth-child(2) {
        grid-column: span 3;
    }

    footer .main-area .right {
        max-width: 66.2rem;
    }
}

/* Até tablet's  */
@media (max-width: 991px) {
    .s-hero::after {
        height: 13rem;
    }

    .s-digital ul {
        flex-direction: column;
        align-items: center;
    }

    .s-digital ul li {
        max-width: 38.4rem;
        width: 100%;
    }

    .s-art-front .tittle-text {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        margin-bottom: 4rem;
        width: 100%;
        text-align: center;
    }

    .s-art-front .tittle-text .left {
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .s-art-front .tittle-text .left p {
        margin-top: 0.8rem;
        max-width: 100%;
    }

    .s-art-front .tittle-text .right {
        max-width: 100%;
        text-align: center;
    }

    .s-art-front .all {
        grid-template-columns: 1fr;
        padding-top: 4rem;
    }

    .s-art-front .all .card-post:first-child,
    .s-art-front .all .card-post:nth-child(2) {
        grid-column: initial;
    }

    footer .main-area {
        flex-direction: column;
        gap: 4rem;
    }

    footer .main-area .left {
        max-width: 100%;
        text-align: center;
    }

    footer .main-area .left img {
        margin: 0 auto;
    }

    footer .main-area .right {
        width: 100%;
        max-width: 100%;
    }
}


@media (max-width: 768px) {
    header nav {
        display: none;
    }

    header .menu {
        display: block;
    }

    .s-hero {
        padding-top: 6rem;
    }

    .s-hero .text h1 {
        max-width: 49rem;
        margin: 0 auto;
    }

    .s-hero .text h1::before {
        left: 0;
        bottom: -4px;
        background-size: 100%;
    }

    .s-hero .text p {
        max-width: 41.6rem;
    }

    .s-hero .text .arrow {
        left: 3rem;
        bottom: 2.7rem;
        max-width: 8rem;
    }
}

/* Até Celulares */
@media (max-width: 560px) {
    header {
        height: 7.2rem;
    }

    header .logo {
        max-width: 16rem;
    }

    .s-hero {
        padding-top: 8.8rem;
    }

    .s-hero .text h1 {
        font-size: 4rem;
    }

    .s-hero .text h1::before {
        left: 0;
        bottom: -6px;
        background-size: 95%;
    }

    .s-hero .text p {
        margin-top: 0.8rem;
        margin-bottom: 2.4rem;
        font-size: 1.6rem;
    }

    .s-hero .text .arrow {
        display: none;
    }

    .s-hero .ilustra {
        display: none;
    }

    .s-hero .ilustra-mobile {
        display: block;
    }

    .s-hero::after {
        height: 22rem;
    }

    .s-digital {
        padding-top: 8rem;
    }

    .s-digital h3 {
        font-size: 2.8rem;
    }

    .s-digital ul {
        gap: 64px;
    }

    .s-art-front {
        padding: 8rem 0;
    }

    .s-art-front .tittle-text h3 {
        font-size: 2.8rem;
        max-width: 22.7rem;
        margin: 0 auto;
    }

    .s-art-front .tittle-text p {
        font-size: 1.6rem;
        margin-top: 0.8rem;
    }

    .s-newslatter h2 {
        font-size: 4rem;
    }

    .s-newslatter p {
        font-size: 1.8rem;
    }

    footer .main-area .right {
        flex-direction: column;
        align-items: center;
        gap: 4.8rem;
    }

    footer .main-area .right .item-nav h6 {
        text-align: center;
    }

    footer .main-area .right .item-nav ul li a {
        text-align: center;
        justify-content: center;
    }

    footer .main-area .right .item-nav:last-child {
        width: 100%;
        max-width: 100%;
    }

    footer .main-area .right .item-nav:last-child ul {
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    footer .main-area .right .item-nav:last-child ul li:not(:last-child) {
        margin-bottom: 0;
    }

    footer .copy {
        text-align: center;
        font-size: 1.4rem;
    }

}